{% load static %}
<footer class="footer">
    <div id="foot-elem-container">
        <div class="grid-element">
            <h4 class="sezioni">LINK UTILI</h4>
            <li><a class="foot-link" href="#">Chi Siamo</a></li>
            <li><a class="foot-link" href="/weatherscanner/accuracy-info">Informazioni sull'accuratezza</a></li>
            <li><a class="foot-link" href="#">Termini di Servizio</a></li>
            <li><a class="foot-link" href="#">Privacy e Cookie Policy</a></li>
        </div>
        <div class="grid-element">
            <h4 class="sezioni">CONTATTI</h4>
            <li>weatherscanner@gmail.com</li>
        </div>
        <div class="grid-element">
            <h4 class="sezioni">SOCIAL</h4>
            <li>
                <a class="foot-link" href="#"><i class="fab fa-facebook-square"></i>Facebook</a>
            </li>
            <li>
                <a class="foot-link" href="#"><i class="fab fa-instagram"></i>Instagram</a>
            </li>
            <li>
                <a class="foot-link" href="#"><i class="fab fa-twitter"></i>Twitter</a>
            </li>
            <li>
                <a class="foot-link" href="#"><i class="fab fa-youtube"></i>YouTube</a>
            </li>
        </div>
    </div> 
    <span>2023, Antonio Lauro. Progetto universitario.</span>   
</footer>