<!DOCTYPE html>
<html lang="it">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/icon.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/scrollbar.css'%}">
    <link rel="stylesheet" href="{% static 'css/footer.css'%}">
    <link rel="stylesheet" href="{% static 'css/body.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <script type = "text/javascript" src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    {% block 'css' %}
    {% endblock %}
    {% block 'js' %}
    {% endblock %}
    <title>Weather Scanner</title>
</head>
<body>
    {% block 'content' %}
    {% endblock %}
</body>
    {% block 'credit' %}
    {% endblock %}
</html>