.footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-top: 10px;
    background-image: url(./../images/sfondofooter.png);
    background-repeat: repeat-x;
    height: 350px;
    font-family: 'Poppins', sans-serif;
    color: #EBF2FA;
}

#foot-elem-container{
    margin-top: 140px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 100px;
    font-size: 15px;   
    font-weight: 300;
    height: 200px;
}

.grid-element{
    justify-self: center;
    width: max-content;
    height: auto;
}

.foot-link{
    text-decoration: none;
    color: #EBF2FA;
}

.grid-element i{
    margin-right: 10px;
}

.grid-element li{
    list-style-type: none;
    margin-bottom: 10px;
}

.sezioni{
    text-align: center;
}

.footer span{
    color: #EBF2FA;
    font-size: x-small;
    align-self: center;
    margin-bottom: 5px;
}


