.logo {
    margin-top: 0%;
    margin-bottom: 5px;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    overflow: hidden; /* per pulire il float */
}

.input-container {
    overflow: hidden; /* per pulire il float */
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border-width: 1px;
    box-sizing: border-box;
}

/* Stile del bordo quando l'input è in stato di focus */
.input-container input[type="text"]:focus,
.input-container input[type="email"]:focus,
.input-container input[type="password"]:focus {
    outline-color: #690fd6; /* Colore del bordo violaceo quando l'input è in stato di focus */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.small-text {
    font-size: 13px;
    margin-bottom: 0;
}

/* Stile del separatore bottoni per il login */
.separator {
    text-align: center;
    margin: 15px 0;
    font-size: 0.9em;
    color: #888;
    position: relative;
}

.separator span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

.separator::before {
    content: "";
    display: block;
    height: 1px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 0;
}

/* stile del bottone di accesso con Google */
.social-login-options {
    margin-top: 20px;
    text-align: center;
}

.google-login-button {
    display: inline-flex; /* Per allineare icona e testo */
    align-items: center; /* Centra verticalmente gli elementi */
    background-color: #4285F4; /* Colore blu di Google */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.google-login-button:hover {
    background-color: #357ae8; /* Un blu leggermente più scuro al passaggio del mouse */
}

.google-logo {
    width: 24px; /* Dimensione del logo */
    height: 24px;
    margin-right: 10px; /* Spazio tra logo e testo */
    background-color: white; /* Sfondo bianco per il logo */
    padding: 2px;
    border-radius: 2px;
}
